* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.inicio,
.cursos,
.nosotros,
.signup {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.cursos {
  background-image: url('/public/images/artes.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.nosotros {
  background-image: url('/public/images/artes.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.signup {
  background-image: url('/public/images/artes.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.FotoProfesorCont{
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.FotoProfesor{
  width: 100%;
}